html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.game-wrapper {
  display: flex;
  max-width: 400px;
  margin: 100px auto;
  height: 400px;
  flex-wrap: wrap;
}

div {
  width: 33.3%;
  height: 33.3%;
  border: 1px solid #eee;
}
